* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #a62727;
  color: #fff;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #705959;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

header p {
  font-size: 1.4rem;
}

header img {
  width: 60%;
  max-width: 600px;
  height: auto;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
}

#menu {
  margin-bottom: 40px;
  text-align: center;
}

#menu h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#menu li {
  font-size: 1.3rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

#menu li + li {
  font-size: 1.4rem;
  font-family: 'Georgia', serif;
  font-weight: bold;
  color: #E74C3C;
}

#menu img {
  width: 45%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

#menu img:first-of-type {
  width: 60%;
  max-width
}